<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Where doctor can see patient profile</h2>
    <ul>
      <li> {{ patient.username }}</li>
    </ul>
    <h2>Notes</h2>
    <ul>
      {% if notes|length > 0 %}
        {% for note in notes %}
          <li>{{ note }}</li>
        {% endfor %}
      {% else %}
        <p>There are no notes</p>
      {% endif %}

      <form action="{% url 'doctorpatient' patient.id %}" method="post">
      {% csrf_token %}
      {% if form.errors %}
      <p>There are errors in the form</p>
      {% endif %}

      {{ note_Form.as_p }}

      <input type="submit" name="" value="submit">
      </form>

    </ul>
  </body>
</html>
