<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome To The Doctor Patient Portal</h1>
    <ul>
    {% if user.is_authenticated %}
      {% if user.role.name == 'Doctor' %}
      <h2>Welcome Dr. {{ user.last_name }}</h2>
      <ul>
        <li>{{ user.email }}</li>
        <li>{{ user.first_name }}</li>
        <li>{{ user.last_name }}</li>
      </ul>
      <h2>Patients</h2>
      <ul>
        {% for patient in user.doctoruserprofile.doctorpatient_set.all %}
        <li> {{ patient.patient.user.username }} </li>
        {% endfor %}
      </ul>
      {% elif user.role.name == 'Patient' %}
      <h2> Welcome {{ user.first_name }}</h2>
      {% endif %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <h2>You are not logged in</h2>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </body>
</html>
