<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'css/signup_style.css' %}">
  </head>
  <body>
    <h1>General Assembly Electronic Medical Records</h1>
    <div class="signup">
    <form  action="{% url 'login' %}" method="post">
      <img class="hermes" src="{% static "assets/dr.jpg" %}" alt="Staff of hermes">
      {% csrf_token %}
      <h4>Username</h4>
      {{ form.username }}
      <h4>Password</h4>
      {{ form.password }}
      <br>
      <input class="sbmt" type="submit" name="" value="Login">
      <br>
      <a href="{% url 'doctor_register' %}">Register as Doctor</a>
      <br>
      <a href="{% url 'patient_register' %}">Register as Patient</a>
      <br>
      <a href="{% url 'admin' %}">Login as Admin</a>
      <input type="hidden" name="next" value="{{ next }}">
    </form>

    {% if form.errors %}
    <p class="error">There is something wrong with what you entered!</p>
    {% endif %}

    {% if next %}
    <p class="error2">You cant access that page</p>
    {% endif %}

  </div>
  </body>
</html>
