<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'css/register_style.css' %}">
  </head>
  <body class="register">
    <h1>Patient Registration Page</h1>
    <form action="{% url 'patient_register' %}" method="post">
      {% csrf_token %}
      {% if form.errors %}
      <p>There are errors in the form</p>
      {% endif %}

      {{ form.as_p }}
      {{ profile_form.as_p }}

      <input class="sbmt" type="submit" name="" value="Register">
    </form>
  </body>
</html>
